<nav
	class="navbar navbar-expand-md navbar-dark bg-dark fixed-top flex-md-nowrap p-0 shadow"
>
	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin">
		<span class="d-none d-md-block">Moviez4u</span>
		<h2 class="float-left d-md-none">Moviez4u</h2>
		<button
			class="navbar-toggler float-right"
			type="button"
			data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<img src="/images/logo.png" alt="Logo" height="40" width="40" />
		</button>
	</a>
	<img
		src="/images/logo.png"
		class="mx-auto rounded d-none d-md-block"
		alt="Logo"
		height="40"
		width="40"
	/>

	<div class="col-md-9 col-sm-12 d-md-none">
		<div class="d-md-none">
			<ul
				class="collapse navbar-collapse navbar-nav"
				id="navbarsExampleDefault"
			>
				<li class="nav-item text-center">
					<a class="nav-link active" href="/admin">
						<span data-feather="home"></span>
						Dashboard <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/movies">
						<span data-feather="file"></span>
						Movies
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/featured-movies">
						<span data-feather="shopping-cart"></span>
						Featured Movies
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/genres">
						<span data-feather="users"></span>
						Genres
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/tv-series">
						<span data-feather="bar-chart-2"></span>
						TV Series
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/movies-requests">
						<span data-feather="layers"></span>
						Movies Requests
					</a>
				</li>
			</ul>
		</div>
	</div>
	<ul class="navbar-nav px-3 navbar-collapse col-sm-3 col-md-1">
		<li class="nav-item text-nowrap">
			<a class="nav-link" href="#">Sign out</a>
		</li>
	</ul>
</nav>
