<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" href="/admin">
					<span data-feather="home"></span>
					Dashboard <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/movies">
					<span data-feather="file"></span>
					Movies
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/featured-movies">
					<span data-feather="shopping-cart"></span>
					Featured Movies
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/genres">
					<span data-feather="users"></span>
					Genres
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/tv-series">
					<span data-feather="bar-chart-2"></span>
					TV Series
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/movies-requests">
					<span data-feather="layers"></span>
					Movies Requests
				</a>
			</li>
		</ul>
		<h6
			class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
		>
			<span>Administrator</span>
			<a class="d-flex align-items-center text-muted" href="#">
				<span data-feather="plus-circle"></span>
			</a>
		</h6>
		<ul class="nav flex-column mb-2">
			<li class="nav-item">
				<a class="nav-link" href="/admin/add-movie">
					<span data-feather="file-text"></span>
					Add Movie
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/add-tv-series">
					<span data-feather="file-text"></span>
					Add TV Series
				</a>
			</li>
		</ul>
	</div>
</nav>
