<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include includes/header %>
		<!-- Custom styles for this template -->
		<link href="/css/dashboard.css" rel="stylesheet" />
	</head>

	<body>
		<%- include includes/navbar %>

		<div class="container-fluid">
			<div class="row">
				<%- include includes/sidebar %>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
					>
						<h1 class="h2">Genres</h1>
					</div>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Action
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adult
							</button>
							<button type="button" class="btn btn-sm btn-outline-secondary">
								Adventure
							</button>
						</div>
					</div>
				</main>
			</div>
		</div>

		<%- include includes/footer %>
	</body>
</html>
